/* DashboardComponent's private CSS styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

h2 {
  margin-top: 45px;
  margin-bottom: 25px;
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: bold;
}

.episodes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  font-family: Inter, sans-serif;
  font-weight: bold;
  background-color: #ff5039;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  border-radius: 8px;
  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #000;
}