.container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.input-season{
  margin-top: 20px;
  text-align: center;
}

label{
  font-family: 'Inter', sans-serif;

}

input{
  margin-left: 10px;
  border-radius: 8px;
  border-width: 2px;
  border-color:#000000;
}

img {
  box-shadow: 23px 14px 53px -2px rgba(0, 0, 0, 0.24);
  width: 200px;
  margin: 20px;
}

.episode-item:hover {
  transform: scale(1.1, 1.1);
  p{
    font-weight: bold;
  }
  a{
    font-weight: bold;
  }

}

.episode-item:hover>.episode-item:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.episode-item {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}
