<div class="filter-and-search">
  <div class="input-season">
    <label for="search-episode">Search episode: </label>
    <input id="search-episode" [(ngModel)]="episodeToFind" (ngModelChange)="searchEpisode($event)" placeholder="">
  </div>
  <div class="search-episode">
    <label for="episode-season">Filter by season: </label>
    <input id="episode-season" [(ngModel)]="season" (ngModelChange)="onSeasonChange($event)" placeholder="">
  </div>
  <div class="input-page-size">
    <label for="page-size">Set items on page: </label>
    <input id="page-size" [(ngModel)]="pageSize" (ngModelChange)="setPageSize($event)" placeholder="">
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
      *ngFor="let e of episodes | paginate: { itemsPerPage: pageSize, currentPage: p }">
      <div class="episode-item">
        <a routerLink="/detail/{{transformString(e.title)}}"> <img src={{e.image}}></a>
        <br />
        <p>{{e.title}}</p>
        <a class="link-danger" routerLink="/episodes/delete/{{transformString(e.title)}}">Delete</a>
      </div>
    </div>
  </div>
</div>

<pagination-controls class="page-control" (pageChange)="onPageChange($event)"></pagination-controls>